@use '../../assets/css/color.scss' as *;
@use '../../assets/css/font.scss' as *;
@use '../../assets/css/spacing.scss' as *;
@use '../../assets/css/border.scss' as *;

.chips{
  font-size:$Font-Size-12;
  line-height:$Line-height-18;
  font-weight: $Font-Weight-Medium;
   color: $Brand-shade-l;
   background-color: $Brand-shade-c;
   display: inline-block;
   padding:$Spacing-4 $Spacing-8 ;
   border: $Border-width-1 $Border-Style-Solid $Brand-shade-c;
   svg{
    vertical-align: middle;
    padding: 0 $Spacing-4;
   }
   span{
     background-color: rgba($Brand-shade-l, 0.5);
     width: 22px;
     height: 22px;
     display: inline-block;
     line-height:$Line-height-22;
     border-radius: $Radius-24;
     margin-left: $Spacing-4;
   }
}

.chips-border{
 background-color: $Neutral-shade-l;
 color: $Brand-shade-c;
 svg{
   path{
    fill:$Brand-shade-c;
   }
 }
}

.chips-sucess{
  background-color: $Brand-shade-green;
  border-color: $Brand-shade-green;
}

.chips-in-progress{
  background-color: $Brand-shade-yellow;
  border-color: $Brand-shade-yellow;
}