// Varibales for padding
$padding-4: 4px;
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-20: 20px;
$padding-24: 24px;
$padding-28: 28px;
$padding-32: 32px;
$padding-40: 40px;
$padding-48: 48px;
$padding-64: 64px;
$padding-96: 96px;
$padding-128: 128px;
$padding-160: 160px;
$padding-192: 192px;

//Variables for margin
$margin-4: 4px;
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-20: 20px;
$margin-24: 24px;
$margin-28: 28px;
$margin-32: 32px;
$margin-40: 40px;
$margin-48: 48px;
$margin-64: 64px;
$margin-96: 96px;
$margin-128: 128px;
$margin-160: 160px;
$margin-192: 192px;


.section-wrap{
    .section-title{
        background-color: #3F51B5;
        padding:$padding-12;
        h1{
            color:#fff;
            margin:0;
            font-size: 22px;
        }
    }
    .spacing-4{
        padding:$padding-4;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-8{
        padding:$padding-8;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-12{
        padding:$padding-12;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-16{
        padding:$padding-16;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-20{
        padding:$padding-20;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-24{
        padding:$padding-24;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-28{
        padding:$padding-28;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-32{
        padding:$padding-32;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-40{
        padding:$padding-40;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-48{
        padding:$padding-48;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-64{
        padding:$padding-64;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-96{
        padding:$padding-96;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-128{
        padding:$padding-128;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-160{
        padding:$padding-160;
        background:#e7e7e7;
        color:#666;
    }
    .spacing-192{
        padding:$padding-192;
        background:#e7e7e7;
        color:#666;
    }
}

