$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$bgColor:#f1f1f1;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  background-color: $bgColor;
}