$myFont: Helvetica, sans-serif;
$myColor:#000;
$myFontSize: 20px;
$myWidth: 680px;
$bgColor:#fff;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  background-color: $bgColor;
}
