$myFont: "Plus Jakarta Sans", sans-serif;
$Font-Size-52: 52px;
$Font-Size-48: 58px;
$Font-Size-44: 54px;
$Font-Size-40: 52px;
$Font-Size-36: 40px;
$Font-Size-32: 32px;
$Font-Size-28: 28px;
$Font-Size-24: 24px;
$Font-Size-18: 18px;
$Font-Size-16: 16px;
$Font-Size-14: 14px;
$Font-Size-12: 12px;
$Font-Size-10: 10px;

$Font-Weight-Regular: 400;
$Font-Weight-Medium: 500;
$Font-Weight-Semibold: 600;
$Font-Weight-Bold: 700;
$Font-Weight-Extrabold: 800;

$Line-height-80: 80px;
$Line-height-72: 72px;
$Line-height-68: 68px;
$Line-height-64: 64px;
$Line-height-60: 60px;
$Line-height-52: 52px;
$Line-height-46: 46px;
$Line-height-36: 36px;
$Line-height-30: 30px;
$Line-height-28: 28px;
$Line-height-24: 24px;
$Line-height-22: 22px;
$Line-height-18: 18px;


