$Spacing-2: 2px;
$Spacing-4: 4px;
$Spacing-8: 8px;
$Spacing-10: 10px;
$Spacing-12: 12px;
$Spacing-16: 16px;
$Spacing-20: 20px;
$Spacing-24: 24px;
$Spacing-28: 28px;
$Spacing-32: 32px;
$Spacing-40: 40px;
$Spacing-48: 48px;
$Spacing-64: 64px;
$Spacing-96: 96px;
$Spacing-128: 128px;
$Spacing-160: 160px;
$Spacing-192: 192px;





